body {
    /* background-image: url("../images/AnimalKingdom.png"); */
    width: 100%;
    font-size: 62.5%;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #333;
  }

  h1 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  color: green;
  text-shadow: 3px 3px rgb(2, 168, 2);
  margin-top: 2rem;
  text-align: center;
}

h2 {
  font-size: 2.0rem;
  font-weight: 400;
  font-family: cursive;
}

.container {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: start;
    max-width: 50rem;
    margin: 0 auto;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .text-center {
    text-align: center;
  }

  #inputBox {
    display: flex;
    margin-bottom: 1rem;
    width: 30rem;
    font-size: 1.8rem;
    border: 0.1rem solid whitesmoke;
    background-color: whitesmoke;
    padding: 1rem;
  }
  

  button {
    font-size: 1.5rem;
    padding: .5rem 1rem;
    width: 10rem;
    text-align: center;
    border: 0.1rem solid whitesmoke;
    margin-bottom: 1rem;
    color: whitesmoke;
    background-color:rgb(47, 96, 170);
    text-align: center;
  }
  
  button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(62, 174, 202);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }


#exampleBtn, #animalZone {
  width: 200vw;
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  max-width: 50rem;
  margin: 0 auto;
}

